.searchTool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%vh;
  padding-left: 5em;
  padding-right: 5em;
}

.sidebar {  
  font-size: 1em;
  padding-bottom: 1em;
  height: 50%;
}
.ais-RefinementList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .5em;
}

.ais-SearchBox.searchBox {
  padding-top: 1em;
  padding-bottom: 0em; 
}

.ais-Pagination {
  padding-top: .5em;
}

.searchTool h1{
  padding-top: 1em;
  padding-bottom: .5em;
  margin: 0;
}

.searchTool h2{
  padding: 0;
  margin: 0;
}

